.example-full-width {
  width: 100%;
}

.small-input {
  width: 100px !important;
}

:host ::ng-deep {
  .mat-mdc-form-field-flex {
    height: 40px;
    font-size: 13px;

    .mat-mdc-form-field-infix {
      padding: 11px 0 0 0;

      > input {
        font-size: 11px;
      }
    }
  }

  .mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-135%) scale(0.75) !important;
  }
  .mdc-text-field .mdc-floating-label {
    transform: translateY(-98%);
    font-size: 13px;
  }

  .mat-mdc-form-field
    .mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    font-size: 10px !important;
  }

  .error {
    .mat-mdc-text-field-wrapper {
      border-color: rgb(226, 80, 80);
    }
  }
  .mat-mdc-text-field-wrapper {
    border: 1px solid #fff;

    .mdc-floating-label {
      color: #fff;

      &.mdc-floating-label--float-above {
        --mat-mdc-form-field-label-transform: translateY(-24.75px)
          scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
      }
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border: unset !important;
    }
  }

  .mdc-text-field .mdc-text-field__input {
    caret-color: #959595 !important;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #c3c3c3;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #3d3c3c inset;
  -webkit-text-fill-color: #c3c3c3 !important;
}
