<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    [opened]="sideNavState"
    (openedChange)="handleToggle($event)"
  >
    <div class="router-items">
      <a
        class="button"
        routerLink="/products"
        routerLinkActive="active"
        mat-button
        ><mat-icon>layers</mat-icon>
        {{ "products" | translate }}
      </a>
      <a
        class="button"
        routerLink="/managers"
        routerLinkActive="active"
        mat-button
        ><mat-icon>group</mat-icon> {{ "managers" | translate }}
      </a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <header>
      <button class="button" type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="user-actions">
        <a class="button" (click)="logout()" type="button" mat-button>
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </div>
    </header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
