<div class="table-wrapper">
  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <!-- Dynamic Column Definitions -->
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column.key"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="{
              hidden: column?.hidden
            }"
          >
            {{ column.header }}

            <div
              class="filter-item"
              *ngIf="column.filter === FilterModes.Search"
            >
              <app-text-input
                [placeholder]="'Filter'"
                [formControl]="searchControls[column.key]"
              ></app-text-input>
            </div>
            <div
              class="filter-item"
              *ngIf="column.filter === FilterModes.FromTo"
            >
              <app-text-input
                [className]="'small-input'"
                [placeholder]="'From'"
                [formControl]="searchControls[column.key! + 'From']"
              ></app-text-input>
              <app-text-input
                [className]="'small-input'"
                [placeholder]="'To'"
                [formControl]="searchControls[column.key! + 'To']"
              ></app-text-input>
            </div>
          </th>
          <td
            [ngClass]="{
              'actions-cell': column.key === 'actions',
              hidden: column?.hidden
            }"
            mat-cell
            *matCellDef="let row"
          >
            <ng-container *ngIf="column.key !== 'actions'">
              {{ row[column.key] }}
            </ng-container>
            <ng-container *ngIf="column.key === 'actions'">
              <ng-container *ngIf="isEdit">
                <mat-icon
                  routerLink="/{{ path }}/inner/{{ row['_id'] }}"
                  class="edit"
                  >edit</mat-icon
                >
              </ng-container>
              <ng-container *ngIf="isDelete">
                <mat-icon (click)="column?.deleteFn(row['_id'])" class="delete"
                  >delete</mat-icon
                >
              </ng-container>
              <ng-container *ngIf="isSale">
                <app-button
                  [className]="'small-btn'"
                  (onClick)="column?.saleFn(row)"
                  >Sale</app-button
                >
              </ng-container>
            </ng-container>
            <ng-container *ngIf="column.key === 'sale'"> </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columns.length">
            No data matching the filter
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="paginatorParams.pageSize"
      [pageIndex]="paginatorParams.pageIndex"
      [length]="paginatorParams.totalCount"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
