<mat-dialog-content class="mat-typography">
  <header><mat-icon mat-dialog-close="true">close</mat-icon></header>
  <form class="form" (ngSubmit)="onFormSubmit(form)" [formGroup]="form">
    <div class="form-item">
      <app-text-input
        [placeholder]="'quantity'"
        formControlName="quantity"
        [hasError]="
          form.get('quantity')?.dirty && form.get('quantity')?.invalid
        "
      ></app-text-input>
      <mat-error *ngIf="quantityError">
        {{ "sale_validation" | translate }} ({{ data.productCount }})
      </mat-error>
    </div>
    <div class="form-btn">
      <app-button [btnType]="'submit'"> {{ "sale" | translate }} </app-button>
    </div>
  </form>
</mat-dialog-content>
