<div>
  <form class="form" (ngSubmit)="onFormSubmit(form)" [formGroup]="form">
    <div class="form-item">
      <app-text-input
        [placeholder]="'username'"
        formControlName="username"
        [hasError]="
          form.get('username')?.dirty && form.get('username')?.invalid
        "
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'password'"
        formControlName="password"
        [inpType]="'password'"
        [hasError]="
          form.get('password')?.dirty && form.get('password')?.invalid
        "
      ></app-text-input>
    </div>

    <ng-container *ngIf="error$ | async as err">
      <mat-error>
        {{ err | translate }}
      </mat-error>
    </ng-container>

    <div class="form-btn">
      <app-button [btnType]="'submit'"> {{ "login" | translate }} </app-button>
    </div>
  </form>
</div>
