<div class="wrapper">
  <form class="form" (ngSubmit)="onFormSubmit(form)" [formGroup]="form">
    <div class="form-item">
      <app-text-input
        [placeholder]="'title'"
        formControlName="title"
        [hasError]="form.get('title')?.dirty && form.get('title')?.invalid"
      ></app-text-input>
      <mat-error *ngIf="form.get('title')?.hasError('latinOrGeorgian')">
        {{ "latin_or_georgian_validation" | translate }}
      </mat-error>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'price'"
        [inpType]="'number'"
        formControlName="price"
        [hasError]="form.get('price')?.dirty && form.get('price')?.invalid"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'quantity'"
        [inpType]="'number'"
        formControlName="productCount"
        [hasError]="
          form.get('productCount')?.dirty && form.get('productCount')?.invalid
        "
      ></app-text-input>
    </div>

    <div class="form-btn">
      <app-button [btnType]="'submit'">
        {{ "add_product" | translate }}
      </app-button>
    </div>
  </form>
</div>
