<form [formGroup]="dateForm">
  <mat-form-field>
    <mat-label>{{ "date_range" | translate }}</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        [placeholder]="'start_date' | translate"
        formControlName="start"
        (dateChange)="onDateChange($event)"
      />
      <input
        matEndDate
        [placeholder]="'end_date' | translate"
        formControlName="end"
        (dateChange)="onDateEndChange($event)"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</form>
