:host ::ng-deep {
  .mat-mdc-form-field {
    max-width: 210px;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-text-field--filled {
    background-color: transparent;
  }

  .mat-mdc-text-field-wrapper {
    border: 1px solid;

    .mdc-floating-label {
      color: #fff;

      &.mdc-floating-label--float-above {
        --mat-mdc-form-field-label-transform: translateY(-24.75px)
          scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
      }
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border: unset !important;
    }
  }

  .mdc-text-field .mdc-text-field__input {
    caret-color: #959595 !important;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
  .mat-date-range-input-separator {
    color: #c3c3c3;
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: rgb(255 255 255 / 54%);
  }
}
