.container {
  display: flex;
  height: 96vh;

  .form-container {
    background: #3d3c3c;
    box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2rem 12px;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 315px;
    min-height: 286px;
    margin: auto;
    position: relative;

    .left-side {
      width: 50%;
      display: grid;
      place-content: center;
    }

    .right-side {
      width: 47%;
      margin: auto 0;
    }

    .bar {
      position: absolute;
      width: 49%;
      height: 93%;
      background-color: #4c4c4c;
      left: 12px;
      top: 12px;
      border-radius: 10px;
      &.animate {
        animation: resizeAndMove 3s infinite;
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .form-container {
    flex-direction: column-reverse;
    gap: 25px;

    .left-side {
      width: auto !important;
      > button {
        width: 70px;
      }
    }

    .right-side {
      width: auto !important;
    }

    .bar {
      max-width: 30%;
      display: none;

      &.animate {
        display: block;
        max-width: unset !important;
        animation: resizeAndMoveResponsive 2s infinite !important;
      }
    }
  }
}

@keyframes resizeAndMove {
  0% {
    height: 93%;
    left: 12px;
    bottom: 12px;
  }
  25% {
    height: 43%;
    top: 50%;
  }
  50% {
    left: 50%;
  }
  75% {
    height: 92%;
    top: 12px;
    left: 50%;
  }
}

@keyframes resizeAndMoveResponsive {
  0% {
    height: 94%;
    left: 10px;
    bottom: 10px;
    width: 15%;
  }
  25% {
    left: 6px;
  }
  50% {
    left: 6px;
  }
  100% {
    width: 95%;
  }
}
