<div class="container">
  <div class="form-container">
    <div class="left-side">
      <app-button (onClick)="startAnimation()" *ngIf="!animate">
        {{
          mode === Sign.In
            ? ("switch_to_register" | translate)
            : ("switch_to_login" | translate)
        }}
      </app-button>
    </div>
    <div class="right-side">
      <ng-container *ngIf="mode === Sign.In; else signUp">
        <app-in></app-in>
      </ng-container>
      <ng-template #signUp>
        <app-up (switch)="startAnimation()"></app-up>
      </ng-template>
    </div>
    <div
      class="bar"
      [ngClass]="{ animate }"
      (animationiteration)="onAnimationEnd($event)"
    ></div>
  </div>
</div>
