<div>
  <form class="form" (ngSubmit)="onFormSubmit(form)" [formGroup]="form">
    <div class="form-item">
      <app-text-input
        [placeholder]="'username'"
        formControlName="username"
        [hasError]="
          form.get('username')?.dirty && form.get('username')?.invalid
        "
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'name'"
        formControlName="name"
        [hasError]="form.get('name')?.dirty && form.get('name')?.invalid"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'surname'"
        formControlName="surname"
        [hasError]="form.get('surname')?.dirty && form.get('surname')?.invalid"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'password'"
        [inpType]="'password'"
        formControlName="password"
        [hasError]="
          form.get('password')?.dirty && form.get('password')?.invalid
        "
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        [placeholder]="'confirm_password'"
        [inpType]="'password'"
        formControlName="confirmPassword"
        [hasError]="
          form.get('confirmPassword')?.dirty &&
          form.get('confirmPassword')?.invalid
        "
      ></app-text-input>
    </div>

    <mat-error *ngIf="form.errors?.['mismatch']">
      {{ "password_doesnt_match" | translate }}
    </mat-error>
    <ng-container *ngIf="error$ | async as err">
      <mat-error>
        {{ err | translate }}
      </mat-error>
    </ng-container>

    <div class="form-btn">
      <app-button [btnType]="'submit'">
        {{ "register" | translate }}
      </app-button>
    </div>
  </form>
</div>
